# Hide metadata files if generated on macOS
.DS_Store

# Hide unintended binaries from test programs
a.out

# Ignore our build and binary folders
build/
release/

# Hide our compiled test files
tests/*.run

# I use the Bear utility for compilation and code completion.
# This hides the generated commands file
compile_commands.json

# Ignore the generated config.mak
config.mak

# Hide our syscall headers in staging area
dist/sysnums_*.h
